<!DOCTYPE html>
<html>
  <head>
    <title>FriendBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
    <section class="section" id="navbar-section">
      <nav class="navbar">
        <div class="navbar-brand">
          <a href="<% root_path %>" class="navbar-item">
            <h1 class="title is-3" id="navbar-brand-text">Friendbook</h1>
          </a>
        </div>
        <% if user_signed_in? %>
        <div class="navbar-end">
          <a href="<% destroy_user_session_path %>" class="navbar-item">
            <h1 class="title is-2" id="navbar-brand-text">Logout</h1>          
          </a>
        </div>
        <% end %>
      </nav>
    </section>

    <section class="section">
      <%= yield %>    
    </section>
  </body>
</html>
